html {
  height: 100%;
}

body {
  height: 100%;
  color: rgba(0, 0, 0, 0.82);
  word-break: break-word;
  word-wrap: break-word;
  font-family:  -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;;
}

:root {
  --bg-color: #F7FAFC;
  --header-color: #FFFEFC;
  --text-color: #525457;
  --article-record-underline: rgba(162,177,202,0.3);
  --article-area-color: #FFF;
  --toc-list-color: #525457;
  --toc-list-color-active: #6686ff;
}

